{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.gstatic.com">
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static 'user_task/style.css' %}">
        <title>Tasks</title>
    </head>
    <body>  
            <nav class="navbar bg-primary ">
                <div class="container-fluid">
                    <div class="collapse navbar-collapse" id="myNavbar">
                        <ul class="nav navbar-nav">
                            <li>
                                <a href="{% url 'home' %}"><span class="glyphicon glyphicon-home">Home</span></a>
                            </li>
                        </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="{% url 'task_create' %}">
                                <span class="glyphicon glyphicon-pencil">CreateTask</span>
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'register' %}">
                                <span class="glyphicon glyphicon-user">SignUp</span>
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'login' %}">
                                <span class="glyphicon glyphicon-log-in">Login</span>
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'logout' %}">
                                <span class="glyphicon glyphicon-log-out">Logout</span>
                            </a>
                        </li>
                    </ul>
                    </div>
                </div>
            </nav>
            {% block content %}
            {% endblock content %}
        
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<!-- Include all compiled plugins (below), or include individual files as needed -->
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    </body>
</html>

